<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onItemAdded()" #form="ngForm">
        <div class="row">
            <div class="col-sm-5 form-group">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control" ngModel name="name" required #name="ngModel">
                <span *ngIf="name.invalid && name.touched">Enter name of Ingredient</span>
            </div>
            <div class="col-sm-2 form-group">
                <label for="amount">Amount</label>
                <input type="number" id="amount" class="form-control" ngModel name="amount" required [pattern]="'^[1-9]+[0-9]*$'" #price="ngModel">
                <span *ngIf="price.invalid && price.touched">Enter price of Ingredient</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-danger" type="button" (click)="deleteItem()"> Delete </button>
                <button class="btn btn-primary" type="button" (click)="clearData()"> Clear </button>
                <button class="btn btn-success" type="submit" [disabled]="form.invalid"> {{editMode?'update':'add'}} </button>
            </div>
        </div>
    </form>
    </div>
</div>
