<!-- <h2 *ngIf='editMode'>recipe-edit works!</h2>
<h2 *ngIf='!editMode'>add New recipe</h2> -->
<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <button [disabled]="recipeForm.invalid" type="submit" style="margin: 0 10px;" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-danger" (click)="onClear()">Cancel</button>   
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" formControlName="name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="imagepath">Image URL</label>
                        <input type="text" class="form-control" id="imagepath" formControlName='imagePath' #imagepath>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <img [src]="imagepath.value" class="img-responsive" style="max-width: 50%; max-height: 30%;border-radius: 12px;">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea type="text" class="form-control" id="description" rows="6" formControlName='description'></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" formArrayName="ingredients">
                    <div style="margin: 16px 0;" class="row" *ngFor="let ingredientCtrl of ingredientControls;let i=index" [formGroupName]="i">
                        <div class="col-xs-8">
                            <input type="text" class="form-control" formControlName='name'>
                        </div>
                        <div class="col-xs-2">
                            <input type="number" class="form-control" formControlName='amount'>
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-danger" type="button" (click)="removeIngredient(i)">X</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-success" (click)='onAddIngredient()'>Add Ingredient</button>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </form>
    </div>
</div>
